test-server:
  only:
    - merge_requests
  image: python:3.10.10-slim-buster
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    PYTHONPATH: "./server:./server/src"
    POSTGRES_USER: searchwing
    POSTGRES_PASSWORD: searchwing
    POSTGRES_DB: searchwing
    POSTGRES_SERVER: db
    POSTGRES_PORT: 5432
    POSTGRES_TEST_PORT: 5432
    POSTGRES_TEST_SERVER: test-db
  tags:
    - flight-log
  services:
    - name: postgis/postgis:14-3.3
      alias: test-db
  cache:
    paths:
      - .cache/pip
      - venv/
  before_script:
  - apt update -y && apt install make -y
  - apt-get update && apt-get -y install libpq-dev gcc curl
  - make --version
  - python --version
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - make install-back-deps
  - make install-back-test-deps
  script:
  - make lint-server
  - make test-server
  - curl -Os https://uploader.codecov.io/latest/linux/codecov
  - chmod +x codecov
  - ./codecov -t $CODECOV_TOKEN
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

deploy-dev:
  only:
    - dev
  stage: build
  tags:
    - flight-log
  variables:
    BACKEND_IMAGE_TAG: $CI_REGISTRY_IMAGE/server:$CI_COMMIT_REF_SLUG
    FRONTEND_IMAGE_TAG: $CI_REGISTRY_IMAGE/client:$CI_COMMIT_REF_SLUG
    DOCKER_TLS_CERTDIR: "/certs"
    ENVIRONMENT: staging
  environment: staging
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_REGISTRY_IMAGE
    - echo $CI_COMMIT_REF_SLUG
    - echo $BACKEND_IMAGE_TAG
    - echo $FRONTEND_IMAGE_TAG
    - apk update
    - apk add bash
  script:
    - ./scripts/deploy.sh

deploy:
  only:
    - main
  stage: deploy
  when: manual
  tags:
    - flight-log
  variables:
    BACKEND_IMAGE_TAG: $CI_REGISTRY_IMAGE/server:$CI_COMMIT_REF_SLUG
    FRONTEND_IMAGE_TAG: $CI_REGISTRY_IMAGE/client:$CI_COMMIT_REF_SLUG
    DOCKER_TLS_CERTDIR: "/certs"
    ENVIRONMENT: production
  environment: production
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_REGISTRY_IMAGE
    - echo $CI_COMMIT_REF_SLUG
    - echo $BACKEND_IMAGE_TAG
    - echo $FRONTEND_IMAGE_TAG
    - apk update
    - apk add bash
  script:
    - ./scripts/deploy.sh
